<html>
<head>
    <meta charset="utf-8">
    <base href="content/">
    <title>New document HTML</title>
    <meta name="description" content="first document html">
    <meta name="author" content="Arseny Cheplucov">
</head>
<body>
    <div>Hello World</div>  // специальные блоки
    <a href="newproject.html">description</a>
    <p>Information about document HTML<br>  // параграфы, расположение данных
    <input type=button value=press > </p> 
    <pre>    // текст как он определён
    Chars one 
    Chars two
    </pre>
    <p><span style="color:red;"> first words</span></p> // как div, только не переносит содержимое на новую строку
    <h1>first title level</h1>
    <h2>second title level</h2>
    <h3>third title level</h3>
    <h4>fourth title level</h4>
    <h5>fifth title level</h5>
    <h6>sixth title level</h6>

</body>
</html>